@charset "UTF-8";

h1,h2,.container{
	text-align: center;
	padding: 20px;
	/* margin-top: 55px; */
}

section#memberList-container {
	text-align:center;
}
section#memberList-container table#tbl-member {
	width:100%; 
	border:1px solid gray; 
	border-collapse:collapse;
}
section#memberList-container table#tbl-member th, table#tbl-member td {
	border:1px solid gray; 
	padding:10px; 
}
/*페이지바*/
div#pageBar{
	margin-top: 10px;
	text-align: center;
	background-color: rgba(0,188,212,0.3);
}
div#pageBar span.cPage{
	color: #06f;
	margin-right: 10px;
}
​
div#pageBar a{
	margin-right: 10px;
}
div#btn{
	margin: 10px;
    text-align: center;
}
/* 쿠폰생성 */
#create{
	float:right;
	margin-bottom: 20px;
}