@charset "UTF-8";
#bar{
    position: absolute;
    width: 850px;
    height: 115px;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    background-color: white;

}
#checkinout{
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 300px;
    height:100px;
    /* border: 1px solid gray; */
    color: rgb(175, 175, 175);
}
#chk1{
    display: inline-block;
    position: absolute;
    width: 150px;
    height:90px;
    top: 10px;
    left: 30px;
    /* border: 1px solid gray; */
}
#moon{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top:40px;
    left:280px; 
}
#chk2{
    position: absolute;
    display: inline-block;
    width: 100px;
    height:90px;
    top: 10px;
    left: 170px;
    /* border: 1px solid gray; */
}
#room{
    position: absolute;
    top: 10px;
    left: 400px;
    display: inline-block;
    width: 60px;
    height:100px;
    /* border: 1px solid gray; */
    color: rgb(175, 175, 175);
    
}
#people{
    position: absolute;
    top: 10px;
    left: 590px;
    display: inline-block;
    width: 60px;
    height:100px;
    /* border: 1px solid gray; */
    color: rgb(175, 175, 175);
}
#search{
    position: absolute;
    top: 45px;
    left: 700px;
    float: center;
    width: 150px; height: 50px;
    background-color: rgb(19, 42, 22);
    color: white;
    border: 0px;
}
#stick{
    padding-top: 0px;
    position: absolute;
    top: 25px;
    left: 130px;
}
#stick1{
    padding-top: 0px;
    position: absolute;
    top: 25px;
    left: 330px;
}
#stick2{
    position: absolute;
    top: 25px;
    left: 525px;
}
#font{
    font-size: 40px;
    color: black;
    text-decoration: none;
    float: center;
}
#drag{
	width:150px;
	height: 25px;
    border: 1px solid gry;
}
/* ----------------캘린더---------------------------------------- */


/*calendar*/

#calendar {
  width: 380px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  float: left;
}

.ui-datepicker {
  margin: 30px 20px;
  font-size: 22px;
}

.ui-datepicker a {
  text-decoration: none;
  color: #6a7883;
}

.ui-datepicker table {
  width: 100%;
  background: lightgray;
}


/*Styling the Header Section*/

.ui-datepicker-header {
  height: 60px;
  border-bottom: 1px solid #c6cdd2;
  background: whitesmoke;
}

.ui-datepicker-title {
  font-size: 32px;
  color: black;
  text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 12px;
  height: 12px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: -12px;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}

.ui-datepicker-prev:after {
  transform: rotate(45deg);
}

.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}

.ui-datepicker-next:after {
  transform: rotate(-135deg);
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-left: 3px solid #6a7883;
  border-bottom: 3px solid #6a7883;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #bdc5cb;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  color: darkblue;
}


/*Styling the Dates*/

.ui-state-default {
  display: block;
  color: #f26a63;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  width: 40px;
}

.ui-datepicker-other-month .ui-state-default {
  color: #bdc5cb;
}


/*active day*/

.ui-state-default:hover {
  background: #6a7883;
  color: #ffffff;
  border: 1px solid #6a7883;
  border-radius: 99px;
  position: relative;
  margin: -1px;
}

.ui-datepicker-calendar .ui-state-highlight {
  color: #f26a63;
  font-weight: bold;
}

.ui-datepicker-calendar .ui-state-active {
  background: #6a7883;
  color: #ffffff;
  border: 1px solid #6a7883;
  border-radius: 99px;
  position: relative;
  margin: -1px;
}

#calendar{width: 70px;}
#calendar2{width: 70px; border-radius: 10%;}
#roomnum{width: 50px; border-radius: 10%;}
#peoplenum{width: 50px; border-radius: 10%;}
