
#notice-container {
	/* margin: 70px; */
	text-align: center;
	padding: 30px;
	margin-bottom: 100px;
}

.content-row {
	border-top: 2px solid rgb(161, 161, 161);
	border-bottom: 2px solid rgb(161, 161, 161);
	font-size: 20px;
	padding: 12px;
	text-align: initial;
}

#notice-date {
	float: right;
	font-size: 16px;
}

#notice-content {
	padding: 30px;
	/* background:black; */
	color: black;
	text-align: initial;
	min-height: 500px;
}

#notice-file {
	font-size: 17px;
}

#file-image {
	width: 27px;
	margin-right: 15px;
}

#notice-title {
	font-weight: bold;
}

#noticeNo {
	text-align: initial;
	font-style: italic;
	margin: 5px;
	color: #666;
}

#btn-group {
	padding-top: 20px;
	text-align: right;
}

#btn-group button {
	margin: 0px 5px;
	width: 70px;
}

#list-button {
	height: 60px;
	font-size: 20px;
	float: left;
}
