@CHARSET "UTF-8";
/* main page */
body{   
    margin: 0;
    padding: 0;
    /* min-width: 1025px; */
}
#container{
    position: relative;
    /* max-width: 5000px; */
    width: 100%;

    margin: 0 auto;
    height: auto;
    /* font-size: 0; */
}
/*header*/
header {
	position: relative;
	padding-bottom: 0px;
}

#header {
	width: 100%;
	height: 200px;
	position: relative;
	padding: 0px;
}

#logo-img{
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#logo-img a{
   
}
#logo-img img{
    margin: 10px;
    width: 220px;
    height: 140px;
}

/*content*/
#content {
	width: 1280px;
	padding: 30px 100px 50px 100px;
	margin: 0 auto;
	min-height: 1000px;
}

#content-header {
	text-align: center;
	/* border-bottom:2px solid rgba(0,0,0,.1); */
	/* padding: 20px 0; */
}

#content-title {
	color: rgb(73, 73, 73);
	font-size: 37px;
	font-weight: 600;
}

#current-root a, #current-root {
	color: #666;
	text-decoration: none;
	font-size: 14px;
}

/*footer*/
footer {
	background-color: rgb(33, 32, 30);
	height: 250px;
	with: 100%;
}

#footer {
	text-align: center;
	margin: 0 auto;
	max-width: 1363px;
}

#footercontents {
	display: inline-block;
	margin-top: 60px;
}

#footer-left {
	text-align: left;
	float: left;
	margin-top: 2px;
}

#footer-right {
	color: rgba(255, 255, 255, 0.65);
	font-weight: 300;
	font-size: 15px;
	line-height: 1.6;
	margin-top: 3px;
	text-align: left;
	float: left;
}

#footer-nav {
	display: inline-block;
	width: auto;
	height: 20px;
	margin-bottom: 10px;
	margin-top: 2px;
}

#footer-nav ul {
	padding: 0;
}

#footer-nav ul li {
	list-style: none;
	display: inline-block;
}

#footer-nav ul li:not (:last-of-type )::after {
	content: "|";
	color: #908886;
	font-size: 15px;
	opacity: 0.5;
}

#footer-nav ul li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.65);
	font-size: 15px;
	font-weight: 300;
	padding: 7px;
}

#info {
	color: rgba(255, 255, 255, 0.2);
	font-size: 15px;
	line-height: 1.6;
	margin-left: 10px;
	margin-top: 2px;
}

#copyright {
	width: auto;
	color: rgba(255, 255, 255, 0.2);
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;
}

#verticalLine {
	width: 1px;
	height: 130px;
	background-color: rgba(226, 224, 224, 0.747);
	opacity: 0.5;
	float: left;
	margin: 0px 80px;
}

#center {
	color: rgb(156, 131, 106);
	margin: 0;
	margin-bottom: 4px;
}

#footer-right span {
	display: inline-block;
	width: 75px;
}

#footer-right a {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.65);
}

#contact {
	margin-top: 10px;
}
/********** content **********/

/*메뉴관련*/
#nav1 {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px
}
#header::after{
    content: '';
    display: block;
    height: 0;
    background: #fff;
    border-top: 1px solid #c7c7c7;
    margin-top: 10px;
}
#nav1 ul{
    display: inline-block;
    margin: 0 auto;
}
#nav1 ul li{
    list-style: none;
    display: inline-block;
}
#nav1 ul li a {
    text-decoration: none; 
    color:#524d4c;
    font-weight: 600;
    padding-right: 100px;
    font-size: 16px;
}
#nav1 ul li a:hover {
    color: rgb(0, 30, 70);
    font-weight: 550;
}

#nav2{
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 80px;
    
    
}
#nav2 ul li{
    list-style: none;
    display: inline;
}
#nav2 ul li:not(:last-of-type)::after {
    content: "|";
    color:#908886;
    font-size: 13px;
    opacity: 0.5;
}
#nav2 ul li a {
    text-decoration: none; 
    color:#524d4c;
    padding: 10px;
    font-size: 13px;
}
#nav2 ul li a:hover {
    color: rgb(0, 30, 70);
    font-weight: 550;

}

#rsv {
    background-color: #1b65b3; /* Green */
    border: none;
    color: white;
    font-weight: 500;
    padding: 0 35px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: auto;
    vertical-align: super;
    right: 100px;
    top: 159px;
    position: absolute;
  }