@CHARSET "UTF-8";
body {font-family:"휴먼모음T";}
div, section, header, aside, footer {padding:10px;}

/********** 전체컨테이너 **********/
div#container	{background:url('/mvc/images/Java-Servlets-JSP.png') 21% 5%/18% no-repeat; background-color:#F0F0F0; width:960px; margin:0 auto;}

/********** header **********/
header			{background:url('/mvc/images/Java-Servlets-JSP.png') 21% 5%/18% no-repeat; background-color:#00bcd4; height:130px; position:relative; padding:10px 0 0 0;}
header div.login-container{
	width: 250px;
	position: absolute;
	right: 0px;
	top: 10px;
}

/* 로그인 테이블 관련 */
#loginFrm table{
	empty-cells: hide;
}
#loginFrm input[type=submit]{
	width: 60px;
	height: 50px;
	color: white;
	background: #30f; /* #3300ff */
	position: absolute;
	top: 10px;
	right: 20px;
}
#saveId+label{
	font-size: 12px;
	font-family: '고딕';
}

/* 로그인성공후 */
div.login-container table#logged-in{border-spacing:10px;}
div.login-container table#logged-in input[type=button]{border-radius:3px;}

/* 메뉴관련 */
header nav{
	background: #5283de;
	width: 100%;
	margin-top: 40px;
}
ul.main-nav{
	display: table;
	padding: 0px;
	margin: auto;
}
ul.main-nav li{
	list-style-type: none;
	width: 8em;
	height: 2em;
	float: left;
	text-align: center;
	font-family: "휴먼모음T", sans-serif;
	border-left: 1px #00bcd4 solid;
	background: #5283de;
}
ul.main-nav li:last-of-type{
	border-right: 1px #00bcd4 solid;
}
ul.main-nav li a{
	display: block;
	padding: .5em;
	text-decoration: none;
	color: #292929;
}
ul.main-nav li:hover{
	background: #30f;
}
ul.main-nav li:hover a{
	color: #fff;
}

/********** content **********/
section#content	{ background-color:#F5F5F5; float:left; width:940px; min-height:500px; }
    
/* 회원가입페이지 */
section#enroll-container {text-align:center;}
section#enroll-container input{margin:3px;}
section#enroll-container table{margin:0 auto;}
section#enroll-container table th {padding:0 10px; text-align:right;}
section#enroll-container table td {padding:0 10px; text-align:left;}

/* 회원수정페이지 */
section#enroll-container input[readonly]{
	background: lightgray;
}
/********** footer **********/
footer			{ background-color:#00bcd4; clear:both; height:75px; text-align:center;padding-top:40px;}